<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <!-- <style>
        body {
            background-image: url("hargrave-11400.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            }
    </style> -->
    <title>Home</title>
</head>
<body>
    <h1>
        <img src="monash-logo-1.png" alt="monash-logo-1.png" width="100%"/>
        <br>
        <a href="/">Home</a>
        <a href="/newauthor">Add Author</a>
        <a href="/newbook">Add Book</a>
        <a href="/listauthors">List Authors</a>
        <a href="/listbooks">List Books</a>
        <a href="/updateauthor">Update Author</a>
        <!-- <a href="/updatebook">Update Book</a> -->
        <a href="/deletebook">Delete Book</a>
    </h1>
</body>
</html>